@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.grid {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 0 0 2rem 0;
  > div {
    border: 1px solid black;
    padding: 2rem;
    border-radius: 8px;
    &:first-child {
      justify-self: end;
    }
    &:last-child {
      justify-self: start;
      align-self: stretch;
      display: grid;
      place-items: center;
    }
  }
}

body,
select,
input {
  font-family: Roboto, sans-serif;
}
body {
  margin: 2rem;
  text-align: center;
}
